body{
    background-image: url("images/Image\ 4\ at\ 8.00.18\ PM.jpeg");
    ;background-size:cover;
     background-repeat: no-repeat; 
     background-position: center;
      height: fit-content ;
}
#h1{
    color:#DCE6EE;
}


